<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-1">
          <button (click)="funcaoMapMultiplica(3)" type="button" class="btn btn-primary">Primary</button>
          <button (click)="funcaoMapConcatenaString()" type="button" class="btn btn-primary">Primary</button>
          <button (click)="funcaoSliceArray()" type="button" class="btn btn-primary">Primary</button>
          <button (click)=" funcaoFilterMenorQueCinco()" type="button" class="btn btn-primary">Primary</button>
          <button (click)=" funcaoReduceSoma()" type="button" class="btn btn-primary">Primary</button>
          <button (click)=" funcaoReduceSoma()" type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
    </div>